.message {
  margin: 10px 0;
  padding: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    margin-top: 0;

    button {
      margin: 10px auto;
    }
  }
}
