:root {
  --color-primary: #349ad2;
  --color-secondary: #1A558B;
  --color-dark: #000000;
  --color-lite: #ffffff;
  --color-boxshadow-primary: #a59797;
  --color-disabled: #979797;
  --color-error-primary: #e50000;
  --color-error-secondary: #aa0000;
}
