.CardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  box-shadow: 2px 3px 10px var(--color-boxshadow-primary);

  .imageWrapper {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .infoWrapper {
    width: 50%;

    .id {
      margin-bottom: 30px;
      color: var(--color-disabled);
      font-size: 14px;
    }

    .info {
      display: flex;
      justify-content: space-between;

      .label {
        font-weight: bold;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    height: 500px;

    .imageWrapper {
      width: initial;
      height: 40%;

      img {
        width: initial;
        height: 100%;
      }
    }

    .infoWrapper {
      width: 100%;
      height: 50%;
    }

    .actions {
      flex-direction: column;

      button {
        margin: 5px 0;
      }
    }
  }
}
